@use "./vars";
@use "./fonts";
@use "./header";
@use "./page";
@use "./footer";
@use "./markdownIt";
@use "./contacts";
@use "./studentLeisure";
@use "./composition";
@use "./home";
@use "./gallery";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Rubik", sans-serif;
  line-height: 150%;
}

html {
  background-color: vars.$bg-color;
}

// p {
//   margin: 0 0 10px;
// }

p + p,
p + ul,
p + ol {
  margin: 20px 0 0;
}

li + li {
  margin: 10px 0 0;
}

ul + p,
ol + p {
  margin: 20px 0 0;
}

a {
  outline: none;
  color: #cd0030;
}

iframe {
  margin-top: 10px;

  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
  padding-top: 100px;
  min-height: 100vh;
}

.wrapper-pages {
  /* max-width: 1440px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1 0 0;
}

/* mouseFollower */
.mouseFollower {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 10000;
  top: -5px;
  left: -5px;
  pointer-events: none;
}

@media (max-width: 500px) {
  .wrapper-pages {
    padding: 0 10px;
  }
}
