//Colors
$bg-color: rgb(83, 159, 146);
$main-color: rgb(115, 204, 192);
$white: rgb(255, 255, 255);
$half-white: rgb(255, 255, 255, 0.6);

//Shadows
$shadow_xs: 0px 0px 15px rgba(0, 0, 0, 0.05);
$shadow_s: 0px 0px 20px rgba(0, 0, 0, 0.1);
